# Byte-compiled / optimized / DLL files
__pycache__/

downloads/
data/*

# Jupyter Notebook
.ipynb_checkpoints

# IPython
#profile_default/
#ipython_config.py

# Spyder project settings
.spyderproject
.spyproject


tst_*
test_*